.inputContainer {
    position: relative;
    margin: 8px 0;
    width: 25ch;
    padding: 8px 0;
    cursor: text;
}

.inputContainer::before {
    background: grey;
    position: absolute;
    content: '';
    height: 1px;
    right: 0;
    left: 0;
    bottom:0;

    transition: height .2s, background-color .2s;
}

.inputContainer:hover::before {
    background: black;
    position: absolute;
    content: '';
    height: 2px;
    right: 0;
    left: 0;
    bottom:0;
}

.inputContainer::after {
    background: cadetblue;
    position: absolute;
    content: '';
    height: 2px;
    right: 50%;
    left: 50%;
    bottom:0;
    transition: left .2s, right .2s;
}

.inputContainer:focus-within::after {
    right: 0;
    left: 0;
}


.inputContainer:focus-within .inputLabel {
    transform: translate(0, 0) scale(.75);
}

.inputLabel {
    position: absolute;
    bottom: 100%;
    transform-origin: top left;
    transform: translate(0, 2em);

    transition: transform .2s;
}

.minimizedInputLabel {
    composes: inputLabel;
    transform: translate(0, 0) scale(.75);
}

.inputElement {
    width: 100%;
    background: none;
    border: none;
    font-size: 1em;
}
